.main{
    opacity: 1;
}
.title-subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
    
}

.title-div {
    border: 12px solid;
    border-style: dashed;
    padding: 0.2rem 6rem 0.9rem;
}
input,input::placeholder{
    font-family: 'Press Start 2P', cursive;
    
}
.sub-title {
    font-size: 40px;
    font-weight: 300;
    
}

.title {
    font-size: 0px;
    margin: 0%;
    padding-top: 10px;
}


.action-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.joinRoomInput{
    min-width: 300px;
    text-align: center;
    width: 30%;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.joinRoomInput:focus {
    border-bottom-width: 5px;
    transition: border-bottom-width 0.2s;
}
.joinRoomInput:hover {
    border-bottom-width: 5px;
    transition: border-bottom-width 0.2s;
}


.createRoomCode{
    background-color: black;
    /* padding-block: 0.5rem;
    padding-inline: 1.5rem; */
    padding: 0.7rem 1.7rem;
    border-radius: 25px;
    color: white;
    text-align: center;
    ;
    
}

.divhomebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.homebutton
{
    color: black;
    font-size: 45px;
    padding: 12px;
}




@media (max-width: 480px) {
    .title-subheading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 1rem;
        margin-top: 45%;
    }

    .title-div {
        border : 12px solid black;
        border-style: dashed;
        padding: 0.2rem 3rem 0.9rem;
    }

    input,input::placeholder{
        font-size: 15px;
    }

    .title {
        font-size: 40px;
        margin: 0%;
        padding-top: 10px;
    }
    .sub-title {
        font-size: 20px;
        font-weight: 300;
    }
    .homebutton
    {
        color: black;
        font-size: 35px;
        padding: 10px;
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .title-subheading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 2rem;

    }
    
    input,input::placeholder{
        font-size: 15px;
    }

    .title-div {
        border : 12px dotted;
        border-style: dashed;
        padding: 0.2rem 3rem 0.9rem;
    }

    .title {
        font-size: 80px;
        margin: 0%;
        padding-top: 10px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .title {
        font-size: 80px;
    }
}

@media (min-width: 1025px) {
    .title {
        font-size:100px;
    }

    
}